/* Give your page a fun background color */
body {background-color: blanchedalmond;}
/* Make the header and footer a different color from the background */
header {
    color:firebrick;
    text-decoration: underline overline;
}
footer {
    color:black;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color:crimson;
    font-style: italic;
}
/* Put a border around your image */
img {
    border-style: double;
    border-width: thick;
    border-color: navy;
} 
/* Change the font-family of your list */
ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}